{% extends 'base.html.twig' %}

{% block title %}
	{{ formName }}
	-
	{{ parent() }}
{% endblock %}


{% block body %}
	<div class="container" id="form">
		<h1 class="title-h1">{{ formName }}</h1>

		<div class="">
			{{ form(dataForm) }}
			</div>
			<p class="title-h2" style="top:-3rem !important;">Via ce Formulaire d’inscription, chaque utilisateur accepte expressément les présentes CGU en acceptant de s'inscrire.</p>
		</div>


	{% endblock %}
