{% extends 'base.html.twig' %}

{% block title %}
	{{ formName }}
	-
	{{ parent() }}
{% endblock %}


{% block body %}
	<div class="container" id="form">
		<h1 class="title-h1">{{ formName }}</h1>
		<h2 class="title-h2">Via ce Formulaire d’inscription, chaque utilisateur accepte expressément les présentes CGU en acceptant de s'inscrire.</h2>

		<div class="">
			{{ form(dataForm) }}
			</div>
		</div>


	{% endblock %}
