{% extends 'base.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	<style></style>

{% endblock %}


{% block body %}
	<div id="container-404">
		<div id="not-found-404" aria-label="404">404</div>
		<div id="error" aria-label="error">error</div>
		<div id="page-not-found" aria-label="Page non trouvée">⚠️ Page non trouvée ⚠️</div>

	</div>

{% endblock %}


{% block javascripts %}
	<script></script>
{% endblock %}
