{% extends 'base.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	<style></style>

{% endblock %}


{% block body %}


	<div class="d-flex flex-column mb-3 mt-5 mx-5">
		<h1 class="title-h1">{{ title }}</h1>
		<h3 class="title-h2 ">linkions</h3>

		<h2 class="title-h22 mt-5">ARTICLE 1 : PRÉAMBULE</h2>

		<p>La présente politique de confidentialité a pour but d’informer les utilisateurs du site :</p>


		<ul>
			<li class="spanBoldYellow">Sur la manière dont sont collectées leurs données personnelles. Sont considérées comme des données personnelles, toute information permettant d’identifier un utilisateur. A ce titre, il peut s’agir : de ses noms et prénoms, de son âge, de son adresse postale ou email, de sa localisation ou encore de son adresse IP (liste non-exhaustive) ;
			</li>

			<li class="spanBoldYellow">Sur les droits dont ils disposent concernant ces données ;</li>

			<li class="spanBoldYellow">Sur la personne responsable du traitement des données à caractère personnel collectées et traitées ;
			</li>

			<li class="spanBoldYellow">Sur les destinataires de ces données personnelles ;
			</li>

			<li class="spanBoldYellow">Sur la politique du site en matière de cookies.</li>
		</ul>

		<p>Cette politique complète les mentions légales et les Conditions Générales d’Utilisation consultables par les utilisateurs à l’adresse suivante :
		</p>

		<p>Conditions Générales d’Utilisation et aux mentions Légales
			<a href="{{ path('app_cgu') }}">
				<span class="spanBoldYellow">(CGU)</span>
			</a>
		</p>

		<h2 class="title-h22 mt-5">ARTICLE 2 : PRINCIPES RELATIFS À LA COLLÈCTE ET AU TRAITEMENT DES DONNÉES PERSONNELLES</h2>


		<p>Conformément à l’article 5 du Règlement européen 2016/679, les données à caractère personnel sont :
		</p>

		<ul>
			<li class="spanBoldYellow">Traitées de manière licite, loyale et transparente au regard de la personne concernée  ;</li>

			<li class="spanBoldYellow">Collectées pour des finalités déterminées (cf. Article 3.1 des présentes), explicites et légitimes, et ne pas être traitées ultérieurement d'une manière incompatible avec ces finalités ;
			</li>


			<li class="spanBoldYellow">Adéquates, pertinentes et limitées à ce qui est nécessaire au regard des finalités pour lesquelles elles sont traitées ;</li>

			<li class="spanBoldYellow">Exactes et, si nécessaire, tenues à jour. Toutes les mesures raisonnables doivent être prises pour que les données à caractère personnel qui sont inexactes, eu égard aux finalités pour lesquelles elles sont traitées, soient effacées ou rectifiées sans tarder ;</li>

			<li class="spanBoldYellow">Conservées sous une forme permettant l'identification des personnes concernées pendant une durée n'excédant pas celle nécessaire au regard des finalités pour lesquelles elles sont traitées ;
			</li>

			<li class="spanBoldYellow">Traitées de façon à garantir une sécurité appropriée des données collectées, y compris la protection contre le traitement non autorisé ou illicite et contre la perte, la destruction ou les dégâts d'origine accidentelle, à l'aide de mesures techniques ou organisationnelles appropriées.
			</li>

		</ul>

		<p>Le traitement n'est licite que si, et dans la mesure où, au moins une des conditions suivantes est remplie :</p>

		<ul>
			<li class="spanBoldYellow">La personne concernée a consenti au traitement de ses données à caractère personnel pour une ou plusieurs finalités spécifiques ;</li>


			<li class="spanBoldYellow">Le traitement est nécessaire à l'exécution d'un contrat auquel la personne concernée est partie ou à l'exécution de mesures précontractuelles prises à la demande de celle-ci ;</li>

			<li class="spanBoldYellow">Le traitement est nécessaire au respect d'une obligation légale à laquelle le responsable du traitement est soumis ;</li>


			<li class="spanBoldYellow">Le traitement est nécessaire à la sauvegarde des intérêts vitaux de la personne concernée ou d'une autre personne physique ;
			</li>


			<li class="spanBoldYellow">Le traitement est nécessaire à l'exécution d'une mission d'intérêt public ou relevant de l'exercice de l'autorité publique dont est investi le responsable du traitement ;</li>

			<li class="spanBoldYellow">Le traitement est nécessaire aux fins des intérêts légitimes poursuivis par le responsable du traitement ou par un tiers, à moins que ne prévalent les intérêts ou les libertés et droits fondamentaux de la personne concernée qui exigent une protection des données à caractère personnel, notamment lorsque la personne concernée est un enfant.</li>

		</ul>


		<h2 class="title-h22 mt-5">ARTICLE 3 : DONNÉES À CARACTÈRE PERSONNEL COLLECTÉES ET TRAITÉES DANS LE CADRE DE LA NAVIGATION SUR LE SITE
		</h2>

		<p>
			<span class="spanBoldYellow">Article 3.1 : Données collectées
			</span>
		</p>

		<p>Les données personnelles collectées dans le cadre de notre activité sont les suivantes :
		</p>

		<ul>
			<li class="spanBoldYellow">Un nom d'utilisateur ;</li>

			<li class="spanBoldYellow">Un prénom ;</li>

			<li class="spanBoldYellow">Un nom ;</li>

			<li class="spanBoldYellow">Une date de naissance ;</li>

			<li class="spanBoldYellow">Une decription ;</li>

			<li class="spanBoldYellow">Un mot de passe ;</li>

			<li class="spanBoldYellow">Un email ;</li>

			<li class="spanBoldYellow">Un numéro de téléphone ;</li>

			<li class="spanBoldYellow">Une localisation ;</li>

			<li class="spanBoldYellow">Un curriculum-vitae ;</li>

			<li class="spanBoldYellow">Un avatar ;</li>

			<li class="spanBoldYellow">Une ou plusieurs formations ;</li>

			<li class="spanBoldYellow">Une ou plusieurs expériences professionnelles ;</li>

			<li class="spanBoldYellow">Une ou plusieurs compétences ;</li>

			<li class="spanBoldYellow">La disponibilité du membre ;</li>

			<li class="spanBoldYellow">Une date de création de compte du membre ;</li>
		</ul>

		<p>La collecte et le traitement de ces données répond à la (aux) finalité(s) suivante(s) :
		</p>

		<ul>
			<li class="spanBoldYellow">Un nom d'utilisateur unique qui permet de se connecter au site ;</li>

			<li class="spanBoldYellow">Un prénom qui permet de s'identifier par rapport aux autres membres et d'être trouver en fonction de cette valeur ;</li>

			<li class="spanBoldYellow">Un nom qui permet de s'identifier par rapport aux autres membres et d'être trouver en fonction de cette valeur ;</li>

			<li class="spanBoldYellow">Une date de naissance qui permet de générer l'âge de l'utilisateur en fonction de cette date ;</li>

			<li class="spanBoldYellow">Une decription qui permet de mieux connaitre et comprendre la volonté du membre sur linkions ;</li>

			<li class="spanBoldYellow">Un mot de passe qui permet de protéger l'accès au compte d'un membre ;</li>

			<li class="spanBoldYellow">Un email qui permet aux membres de se contacter entre eux si cette donnée est renseigner ;</li>

			<li class="spanBoldYellow">Un numéro de téléphone aux membres de se contacter entre eux si cette donnée est renseigner ; ;</li>

			<li class="spanBoldYellow">Une localisation permettant d'approximativement situé un membre ;</li>

			<li class="spanBoldYellow">Un curriculum-vitae qui permet de mieux comprendre le parcours professionnel du membre ;</li>

			<li class="spanBoldYellow">Un avatar qui permet au membre d'avoir la photo de son profil qu'il souhaite (dans la limite du respect et de la sensibilité de chacun) ;</li>

			<li class="spanBoldYellow">Une ou plusieurs formations afin de mieux comprendre et connaître son parcours d'éducation professionnel ;</li>

			<li class="spanBoldYellow">Une ou plusieurs expériences professionnelles afin de mieux comprendre et connaître son parcours professionnel ;</li>


			<li class="spanBoldYellow">Une ou plusieurs compétences qui permettra de retrouver des membres partageant les mêmes compétences professionnelles simplement et de connaitre les compétences de chacun d'eux ;</li>

			<li class="spanBoldYellow">La disponibilité du membre permettant de savoir si un membre est plus ou moins à mène à recevoir une opportunité ou proposition ;</li>

			<li class="spanBoldYellow">Une date de création de compte du membre qui permet de connaître l'ancienneté du membre sur l'application ;</li>

		</ul>

		<p>
			<span class="spanBoldYellow">Article 3.2 : Mode de collecte des données
			</span>
		</p>

		<p>Lorsque vous utilisez notre site, sont automatiquement collectées les données suivantes
		</p>

		<ul>
			<li class="spanBoldYellow">Téléchargements de fichiers ;</li>

			<li class="spanBoldYellow">Recherche sur le site ;</li>

			<li class="spanBoldYellow">Clics sortants ;</li>

			<li class="spanBoldYellow">Défilements ;</li>

			<li class="spanBoldYellow">Pages vues ;</li>

			<li class="spanBoldYellow">Interactions avec des formulaires ;</li>

		</ul>

		<p>Elles sont conservées par le responsable du traitement dans des conditions raisonnables de sécurité, pour une durée de :
			<span class="spanBoldYellow">12 mois</span>.
		</p>

		<p>La société est susceptible de conserver certaines données à caractère personnel au-delà des délais annoncés ci-dessus afin de remplir ses obligations légales ou réglementaires.
		</p>

		<p>
			<span class="spanBoldYellow">Article 3.3 : Hébergement des données
			</span>
		</p>

		<p>L'hébergeur du Site est la société
			<span class="spanBoldYellow">IONOS</span>, dont le siège social est situé au  7 PL DE LA GARE 57200 SARREGUEMINES. , avec le numéro de téléphone :
			<span class="spanBoldYellow">0970808911</span>
		</p>
		<p>
			<span class="spanBoldYellow">Article 3.4 : Politique en matière de “cookies”
			</span>
		</p>

		<p>elle s'agit de cookies de session permettant de connaître l'état de l'application et de passer des messages d'excécution comme des messages de "validations" et ou des "erreurs".
		</p>

		<h2 class="title-h22 mt-5">ARTICLE 4 : RESPONSABLE DU TRAITEMENT DES DONNÉES ET DÉLÉGUÉ À LA PROTECTION DES DONNÉES
		</h2>

		<p>
			<span class="spanBoldYellow">Article 4.1 : Le responsable du traitement des données
			</span>
		</p>

		<p>Les données à caractère personnelles sont collectées par [raison ou dénomination sociale de l’entreprise], [forme juridique] au capital de [montant du capital social], dont le numéro d’immatriculation est le [indiquez votre numéro RCS].
		</p>

		<p>Le responsable du traitement des données à caractère personnel peut être contacté de la manière suivante :
		</p>

		<p>Par mail :
			<span class="spanBoldYellow">linkions.contact@linkions.fr</span>.</p>

		<p>
			<span class="spanBoldYellow">Article 4.2 : Le délégué à la protection des données
			</span>
		</p>

		<p>Le délégué à la protection des données de l’entreprise ou du responsable est :</p>
	</p>

	<p>Clairy Miguel ;
	</p>

	<p>Par mail :
		<span class="spanBoldYellow">linkions.contact@linkions.fr</span>.</p>

	<p>Si vous estimez, après nous avoir contactés, que vos droits “Informatique et Libertés”, ne sont pas respectés, vous pouvez adresser une information à la CNIL.
	</p>

	<h2 class="title-h22 mt-5">ARTICLE 5 : LES DROITS DE L’UTILISATEUR EN MATIÈRE DE COLLECTE ET DE TRAITEMENT DES DONNÉES
	</h2>

	<p>Tout utilisateur concerné par le traitement de ses données personnelles peut se prévaloir des droits suivants, en application du règlement européen 2016/679 et de la Loi Informatique et Liberté (Loi 78-17 du 6 janvier 1978) :
	</p>

	<ul>
		<li class="spanBoldYellow">Droit d’accès, de rectification et droit à l’effacement des données (posés respectivement aux articles 15, 16 et 17 du RGPD) ;
		</li>

		<li class="spanBoldYellow">Droit à la portabilité des données (article 20 du RGPD) ;
		</li>

		<li class="spanBoldYellow">Droit à la limitation (article 18 du RGPD) et à l’opposition du traitement des données (article 21 du RGPD) ;
		</li>

		<li class="spanBoldYellow">Droit de ne pas faire l’objet d’une décision fondée exclusivement sur un procédé automatisé ;</li>

		<li class="spanBoldYellow">Droit de déterminer le sort des données après la mort ;
		</li>

		<li class="spanBoldYellow">Droit de saisir l’autorité de contrôle compétente (article 77 du RGPD).</li>
	</ul>

	<p>Pour exercer vos droits, veuillez adresser par mail à
		<span class="spanBoldYellow">"linkions.contact@linkions.fr"</span>
	</p>

	<p>Afin que le responsable du traitement des données puisse faire droit à sa demande, l’utilisateur peut être tenu de lui communiquer certaines informations telles que : ses noms et prénoms, son adresse e-mail.
	</p>

	<p>Consultez le site cnil.fr pour plus d’informations sur vos droits.
	</p>

	<h2 class="title-h22 mt-5">ARTICLE 6 : CONDITIONS DE MODIFICATION DE LA POLITIQUE DE CONFIDENTIALITÉ
	</h2>

	<p>L’éditeur du site [Nom du site] se réserve le droit de pouvoir modifier la présente Politique à tout moment afin d’assurer aux utilisateurs du site sa conformité avec le droit en vigueur.</p>

	<p>Les éventuelles modifications ne sauraient avoir d’incidence sur les achats antérieurement effectués sur le site, lesquels restent soumis à la Politique en vigueur au moment de l’achat et telle qu’acceptée par l’utilisateur lors de la validation de l’achat.
	</p>

	<p>L’utilisateur est invité à prendre connaissance de cette Politique à chaque fois qu’il utilise nos services, sans qu’il soit nécessaire de l’en prévenir formellement.
	</p>

	<p>La présente politique, éditée le 15 juin 2023, a été mise à jour le 15 juin 2023.</p>


</div>{% endblock %}{% block javascripts %}
<script></script>{% endblock %}
