{% extends 'base.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	<style></style>

{% endblock %}


{% block body %}
	<p>{{errors}}</p>
{% endblock %}


{% block javascripts %}
	<script></script>
{% endblock %}
